.side-bar
 .side-bar__user-name
  .top-items
   .top-items__name name
   .top-items__icons
   =link_to"https://www.facebook.com/" do
    = icon ('fas fa-edit')
  -#   =link_to"https://www.facebook.com/", class: "top-items__icons " do
  -# -#  =link_to"https://www.facebook.com/", class: "top-items__icons " do

 .side-bar__group-list
