.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        name
      %ul.top-items__icons
        %li
          =link_to "#" do
            =icon('fas', 'edit', class: 'icon')
        %li
          =link_to"#" do
            =icon('fas','fas fa-cog')
  .side-bar__group-list
    .group-box
      %p.group-box__group-name tech-expert
      %p.group-box__group-message まだメッセージがありません
